body {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.logo {
    width: 650px;
    height: 100px;
    padding: 10px;
    font-size: 65px;
    font-weight: 400;
    color: black;
    text-align: center;
    word-wrap: break-word;
    margin: 30px;
    font-family: 'Mynerve', cursive;
}

.sub-logo {
    width: 650px;
    height: 100px;
    padding: 10px;
    font-size: 40px;
    font-weight: 500;
    color: black;
    text-align: center;
    word-wrap: break-word;
    margin: 30px;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.login-button {
    width: 400px;
    height: 60px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    word-wrap: break-word;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    margin: 15px;
    border: none;
    background: #A77AFE;
}

.login-button:active {
    transform: scale(0.99);
}

#kakao-login-btn {
    background: #F7E600;
    color: black;
}

#naver-login-btn {
    background: #1EC800;
}

.line {
    width: 400px;
    height: 3px;
    background-color: black;
    margin: 30px 0 30px 0;
}

.mb-3 {
    width: 400px;
}

.form-control {
    height: 50px;
    margin: 30px 0px 0px 0px;
    background-color: #e6e6e6;
}

.postSample {
    margin: 10px;
    background-color: beige;
    word-wrap: break-word;
}