<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckPassword</title>

    <!-- bootstrap 스타일 & js -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!-- 스타일시트 -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- vscode용 stylesheet 경로 !!최종 제거 해야함 -->
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <!-- js Cookie -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <!-- 구글 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Gaegu&family=Jua&family=Mynerve&family=Nanum+Gothic&display=swap"
            rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="sub-logo">비밀번호를 입력하세요</div>
    <div class="button-container">
        <form>
            <div class="mb-3">
                <input type="password" class="form-control" id="currentPassword" style="background-color: #e6e6e6;"
                       placeholder="기존 비밀번호">
            </div>
        </form>
    </div>
    <div class="line" style="opacity: 0;"></div>
    <button class="login-button" onclick="checkPassword()">비밀번호 확인</button>
</div>
</body>
<script>
    const host = 'http://' + window.location.host;

    const href = location.href;

    function checkPassword() {

    }
</script>

</html>