<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Corrected attribute -->
  <title>Document</title> <!-- Removed the extra space before "Document" -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="desktop-1-L7o" id="4:26">
    <div class="header-HSM" id="11:8">log town</div>
    <div class="auto-group-q12v-2Rs" id="N3hHHDwdzZ3WBBWXKAq12V">
      <div class="group-2-wYq" id="11:13">
        <div class="ellipse-1-rfo" id="12:28"></div>
        <div class="auto-group-jhgq-abo" id="N3hJ87hqZvBDTXPYDZjHGq">
          <div class="auto-group-gq6z-hAd" id="N3hJFryvxbPhdvJP5AgQ6Z">
            <p class="profile-nickname-T9o" id="4:41">Mark Zuckerberg</p>
            <p class="profile-username-K5X" id="4:52">@Zuckerbergofficial</p>
          </div>
          <div class="auto-group-yjxd-3GR" id="N3hJQC5PLUuxyCq1PaYJxd">
            <div class="frame-1-a1T" id="12:23">Follow</div>
            <div class="frame-2-28M" id="12:26">Unfollow</div>
          </div>
        </div>
        <p class="profile-intro-gih" id="4:45">I am Mark</p>
        <div class="auto-group-pmvu-zDb" id="N3hJeBg51aGeeZdpUzPMvu">
          <p class="num-following-vsw" id="4:43">0 Following</p>
          <p class="num-follwers-4DT" id="4:44">9K Followers</p>
        </div>
      </div>
      <div class="writer-area-nQM" id="11:16">
        <div class="auto-group-xfmw-6vq" id="N3hHWJQBYbdgKzvFFbXfMw">
          <div class="writer-picture-FHw" id="11:19"></div>
          <div class="auto-group-xxrq-BhP" id="N3hHfYdn3XvTBpqxizXxrq">
            <p class="writer-nickname-K2u" id="5:74">Mark Zuckerberg</p>
            <p class="writer-username-R5w" id="5:75">@Zuckerbergofficial</p>
          </div>
        </div>
        <p class="writer-content-JvR" id="5:79">I am Mark</p>
      </div>
    </div>
  </div>
</body>

</html>
